<% content_for :page_title do %>
  <%= Spree.t(:bulk_change_price) %>
<% end %>
<%= form_with url: '', method: :post, id: 'bulk_change_price_form' do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div class="form-actions row" data-hook="buttons">
      <div class="offset-lg-3 col-lg-9">
        <button type="submit" class="btn btn-success">
          <%= spree_icon 'save.svg' %>
          <%= Spree.t('bulk_change_price_form.apply') %>
        </button>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('bulk_change_price_form.reset'), '#', icon: 'cancel.svg', class: 'btn btn-outline-secondary', id: 'reset_bulk_change_price_form' %>
      </div>
    </div>
  </fieldset>
<% end %>
<script>
  const bulkChangePriceForm = $('#bulk_change_price_form');

    bulkChangePriceForm.submit(function (e) {
      e.preventDefault();

      const submitButton = $('.btn-success', bulkChangePriceForm);

      submitButton.attr('disabled', true);

      $.ajax({
        type: 'POST',
        url: Spree.url('bulk_change_price/change').toString(),
        data: $( this ).serialize()
      }).done(function () {
        alert('Prices is changed successfully!')
      }).fail(function(){
        alert('Prices change is failed!')
      })

      submitButton.attr('disabled', false);
    })

    $('#reset_bulk_change_price_form').click(function(e){
      e.preventDefault();

      bulkChangePriceForm.find('input[name="bulk_action"][value="change_price"]').prop("checked", true);
      bulkChangePriceForm.find('input[name="products"][value="all"]').prop("checked", true);
      bulkChangePriceForm.find('input[name="update_type"][value="percent"]').prop("checked", true);
      bulkChangePriceForm.find('input[name="operation"][value="+"]').prop("checked", true);

      $('.bulk_change_price_taxons').hide();
      $('select', '.bulk_change_price_taxons').val('').trigger('change');

      $('.bulk_change_price_products').hide();
      $('select', '.bulk_change_price_products').val('').trigger('change');

      bulkChangePriceForm.find('input[name="update_value"]').val(null)
    })

    $('input[name="products"]', bulkChangePriceForm).change(function(e){
      switch (this.value) {
        case 'category':
          $('.bulk_change_price_products').hide();
          $('select', '.bulk_change_price_products').val('').trigger('change');

          $('.bulk_change_price_taxons').show();
          break;
        case 'selected':
          $('.bulk_change_price_taxons').hide()
          $('select', '.bulk_change_price_taxons').val('').trigger('change');

          $('.bulk_change_price_products').show();
          break;
        default:
          $('.bulk_change_price_taxons').hide();
          $('select', '.bulk_change_price_taxons').val('').trigger('change');

          $('.bulk_change_price_products').hide();
          $('select', '.bulk_change_price_products').val('').trigger('change');

          break;
      }
    })

    $('input[name="update_type"]', bulkChangePriceForm).change(function(e){
      if(this.value === 'percent'){
        $('.round-method-form-group').show();
      }else {
        $('.round-method-form-group').hide();
      }
    })
</script>
<style>
  #bulk_change_price_form .form-group{
    border-bottom: 1px solid #dee2e6 !important;
  }

  #bulk_change_price_form .checkbox-options{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #bulk_change_price_form .checkbox-options input{
    display: none;
  }

  #bulk_change_price_form .checkbox-options label{
    background: #bdc3c7;
    border-radius: 5px;
    padding: 2px 10px;
    color: #fff;
    font-weight: bold;
  }

  #bulk_change_price_form .checkbox-options input[type="radio"]:checked+label{
    background: #1abc9c;
  }
</style>
